.main_timer {
    text-align: center;
    margin-top: 5em;
}
.timer_button {
    text-align: center;
    margin-top: 10px;
}
@media screen and (min-width: 900px){
.bargroup{
    text-align: center;
    }
}
