@font-face {
    font-family: "Papyrus";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("./fonts/TanukiMagic.ttf") format("truetype");
}

@font-face {
    font-family: "Antilim";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("./fonts/Antilim.otf") format("opentype");
}