@font-face {
    font-family: "Papyrus";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("./fonts/TanukiMagic.ttf") format("truetype");
}

@font-face {
    font-family: "Antilim";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("./fonts/Antilim.otf") format("opentype");
}

@font-face {
    font-family: "Wing Dings Gaster";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("./fonts/wingding.ttf") format("truetype");
}

@font-face {
    font-family: "Determination";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("./fonts/DeterminationJP.ttf") format("truetype");
}

@font-face {
    font-family: "Comic Sans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("./fonts/comic.ttf") format("truetype");
}

@font-face {
    font-family: "Mochiy Pop One";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("./fonts/MochiyPopOne-Regular.ttf") format("truetype");
}